.card-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.card-img :hover {
    border: 3px;
    border-color:aliceblue;
}