.divider-top {
    border-top: 1px dashed rgb(28,49,68,.8);
    padding: 10px 0 5px 0;
    margin-bottom: 25px;
}
.divider-bottom {
    border-bottom: 1px dashed rgb(28,49,68,.8);
    padding: 10px 0 5px 0;
    margin-bottom: 25px;
}
.main-section {
    margin: 3em;
    
}